/* =========================================
FÄRGER / VARIABLER
========================================= */

/* Variabler används för att enkelt kunna byta tema (light/dark mode) och hålla konsekvent färgsättning */

:root {
    /* basfärger */
    --background-color: #a9def9;
    --secondary-color: #e4c1f9;
    --text-color: #333333;
    --hover-text-color: #000000;
    /* accentfärger */
    --green: #b8eacb;
    --orange: #f3cfa1;
    --pink: #ffb3d1;
    --yellow: #f9f0a1;
    --light-purple: #ebd4f4;
    /* detaljer */
    --placeholder-color: #666666;
    --input-bg: #ffffff;
    --input-border: #cccccc;
}

/* light mode */
[data-theme='light'] {
    --background-color: #a9def9;
    --secondary-color: #e4c1f9;

    --text-color: #333333;
    --hover-text-color: #000000;

    --green: #b8eacb;
    --orange: #f3cfa1;
    --pink: #ffb3d1;
    --yellow: #f9f0a1;
    --light-purple: #ebd4f4;
    --placeholder-color: #666666;
    --input-bg: #ffffff;
    --input-border: #cccccc;
}

/* dark mode */
[data-theme='dark'] {
    --background-color: #1e1e2f;
    --secondary-color: #2e2e45;

    --text-color: #dddddd;
    --hover-text-color: #ffffff;

    --green: #2e5d49;
    --orange: #a66a2e;
    --pink: #8e3a65;
    --yellow: #7a6604;
    --light-purple: #5a3b6d;
    --input-bg: #6c4d85;
    --input-border: #8d70a1;
    --placeholder-color: #c9b6d7;
}

/* =========================================
GRUNDLÄGGANDE INSTÄLLNINGAR
========================================= */

/* Flex används för att centrera innehåll och skapa jämna mellanrum mellan sektioner */

body * {
    box-sizing: border-box;
    transition: background-color 0.3s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    padding: 2rem 1rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
}

/* =========================================
TYPOGRAFI
========================================= */

h1,
h2,
h3 {
    color: var(--hover-text-color);
}

h1 {
    margin: 0;
    margin-right: auto;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 0;
}

/* =========================================
 HEADER & NAVIGATION
========================================= */

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1em 2em;
    gap: 1em;
}

nav {
    color: var(--text-color);
    display: flex;
    gap: 1em;
}

header label,
header input[type='checkbox'] {
    display: none;
    align-self: center;
    color: inherit;
}

header button {
    align-self: center;
    border: none;
    border-radius: 0.25rem;
    width: 2em;
    aspect-ratio: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1em;
    margin: 0;
    align-items: center;
}

/* =========================================
LÄNKAR
========================================= */

a {
    display: block;
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    color: var(--hover-text-color);
    border-color: var(--orange);
}

/* =========================================
KNAPPAR
========================================= */

button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
    transition: 0.3s;
}

button:hover {
    background-color: var(--orange);
}

main button {
    background: none;
    border: 1px solid currentColor;
    padding: 0.25em 0.5em;
    border-radius: 1em;
}

/* =========================================
MAIN
========================================= */

section,
form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    border-radius: 1em;
    max-width: 1200px;
}

img {
    margin: 0 auto;
    clip-path: circle();
    width: 250px;
    max-width: 100%;
    aspect-ratio: 1;
    max-height: 100%;
    align-self: flex-start;
}

.description {
    align-self: center;
}

.rosanna {
    background-color: var(--pink);
    align-items: flex-start;
}

.wenjie {
    background-color: var(--green);
}

.mac {
    background-color: var(--yellow);
}

label .bi {
    font-size: 1.5em;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid currentColor;
    border-left: 1px solid currentColor;
}

/* =========================================
FOOTER
========================================= */

footer {
    background-color: var(--background-color);
    padding: 1em;
    text-align: center;
    color: var(--text-color);
}

footer p {
    margin: 0;
}

/* =========================================
FORMULÄR
========================================= */

form {
    font-size: 1rem;
    background-color: var(--light-purple);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 750px;
    margin: 0;
}

form input,
form select {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
}
form input {
    width: 100%;
}

form .columns {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

input,
select {
    font-size: inherit;
    font-family: inherit;
    border: 1px solid var(--input-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    background-color: var(--input-bg);
    color: var(--text-color);
}

input::placeholder {
    color: var(--placeholder-color);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/* =========================================
Responsivitet
========================================= */

/* Ökad padding och gap */
@media (min-width: 768px), screen and (orientation: landscape) {
    main {
        padding: 3rem 1.5rem;
        gap: 1.5rem;
    }

    /* sektionerna visas i row istället för column */
    section {
        flex-direction: row;
        padding: 3rem;
        gap: 1.5em;
    }
    .description {
        padding: 2em;
    }

    /* bild till höger */
    .mac {
        flex-direction: row-reverse;
    }

    /* centrerar formuläret */
    /* gör vissa av raderna till två kolumner */
    form {
        margin: 0 auto;
        padding: 3rem;
        gap: 1.5em;
    }
    form .columns {
        gap: 1.5em;
        flex-direction: row;
    }

    form .columns > * {
        width: 50%;
    }
}

/* Ökad padding och gap */
@media (min-width: 1025px), screen and (orientation: landscape) {
    main {
        padding: 4rem 2rem;
        gap: 2rem;
        align-items: center;
    }
    section {
        padding: 4rem;
        gap: 2em;
    }
    .description {
        padding: 2.5em;
    }
}

@media (max-width: 576px) {
    /* om checkbox inte är icheckad så är nav dold */
    input[type='checkbox']:not(:checked) + nav {
        display: none;
    }

    /* flex wrap så att nav kan hamna på en egen rad */
    header {
        flex-wrap: wrap;
    }

    /* visar hamburgarmenyn, order 1 så att den hamnar till höger om temaknappen */
    header label {
        display: block;
        order: 1;
    }

    /* ändrar layout på nav till kolumn, den tar all plats på bredden och skapar en egen rad */
    /* order 2 så den hamnar sist/längst ner istället för innan/över knapparna */
    nav {
        flex-direction: column;
        width: 100%;
        flex-basis: 100%;
        order: 2;
    }
    nav ul {
        flex-direction: column;
    }
    /* flyttar strecket sista strecket inom nav högst upp istället */
    nav hr:last-child {
        order: -1;
    }
}
